<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<!--Video 8 code-->
<!--Hello world-->
<!--<br>-->
<!--Hello my name is {{name}} and my father name is {{fathername}} and I live in {{place}}-->

<!--video 9 code-->
<h1>Welcome to the text analyzer</h1>
<form action='/analyze' method="get">
    <textarea name='text' style='width: 1233px; height: 170px;'></textarea>
    <br>
    <input type="checkbox" name="removefcn">Remove Punctuations
    <br>
    <input type="checkbox" name="fullcaps">Capitalization
    <br>
    <input type="checkbox" name="removenewline">Remove new line
    <br>
    <input type="checkbox" name="extraspaceremover">extra space remover
    <br>
    <input type="checkbox" name="charcount">Character Count
    <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>